* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #1e293b;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-links a {
    margin-left: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #38bdf8;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* ============ RESPONSIVE ============ */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #1e293b;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }

    .nav-links a {
        display: block;
        margin: 0.8rem 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero h1 {
        font-size: 1.7rem;
    }
}
